/* BODY ************************************************* */
body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 10px;
  text-align: center;
}

header {
  border: 2px solid red; /* delete this later */
  grid-column: span 3;
}

section { /* delete this later */
  border: 2px solid red;
}

.trip-request-section {
  display: flex row;
  grid-column: span 3;
}

/* TEXT ********************************************* */
span {
  color: red;
}

/* GENERAL ********************************************* */
.hidden {
  display: none;
}
