/* BODY ************************************************* */
body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 10px;
  text-align: center;
}

header {
  border: 2px solid red; /* delete this later */
  grid-column: span 3;
}

section { /* delete this later */
  border: 2px solid red;
}

.trips {
  display: flex row;
  max-height: 300px;
  overflow: scroll;
}

.trip-request-section {
  display: flex row;
  grid-column: span 3;
}

/* TRIP CARDS ****************************************** */

.trip-card img {
  width: 85%;
  height: 85%;
  object-fit: cover;
  overflow: hidden;
}

/* TEXT ************************************************ */
span {
  color: red;
}

/* FORM ************************************************ */

/* :invalid {
  border: 2px solid orange;
}

:valid {
  border: 2px solid green;
} */

/* or */

.error-message {
  display: block;
}

.error {
  border: 2px solid pink;
}

.success {
  border: 2px solid green;
}

/* GENERAL ********************************************* */
.hidden {
  display: none;
}
