* {
  font-family: open-sans, sans-serif;
}

.login-section {
  margin-top: 100px;
  text-align: center;
}

h1,
h2 {
  color: #005f73;
}

.large {
  font-size: 35px;
}

form {
  margin: 7.5px;
}

.hidden {
  display: none;
}

.error-message {
  color: #ae2012;
  display: block;
  font-size: 14px;
  margin: 2px;
}

button {
  background-color: #005f73;
  border: 1px solid #005f73;
  border-radius: 12px;
  color: white;
  font-size: 16px;
  margin: 7.5px;
  padding: 5px 15px;
}

button:hover {
  background-color: #0a9396;
  border: 1px solid #0a9396;
  opacity: 0.75;
  cursor: pointer;
}

.toggle-password-btn {
  background-color: #005f73;
  border: 1px solid #005f73;
  border-radius: 12px;
  color: white;
  font-size: 10px;
  padding: 2px;
  margin: 1px;
  margin-left: -40px;
  width: 35px;
}

.toggle-password-btn:disabled {
  background-color: #0a9396;
  border: 1px solid #0a9396;
  opacity: 0.75;
  cursor: default;
}

main {
  background-color: #e9d8a6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 10px;
  text-align: center;
}

main section {
  background-color: white;
  border-radius: 10px;
}

.traveler-info-section {
  font-size: 18px;
  grid-column: span 3;
}

.greeting-container,
.post-response-message {
  color: #9b2226;
  font-size: 27px;
  font-weight: 300;
  margin-bottom: 0px;
}

.total-container {
  margin-bottom: 0px;
}

.total-explanation {
  margin-top: 0px;
  padding: 0px;
}

.astericks {
  font-size: 20px;
  color: #9b2226;
}

.astericks-message {
  font-size: 14px;
}

.trips {
  display: flex row;
  max-height: 300px;
}

.trips div {
  max-height: 75%;
  overflow: scroll;
}

.trip-card {
  padding: 5px;
}

.trip-card-date {
  color: #001219;
  font-weight: bold;
}

.trip-card img {
  border-radius: 10px;
  width: 85%;
  height: 85%;
  object-fit: cover;
  overflow: hidden;
}

.trip-request-section {
  display: flex row;
  grid-column: span 3;
}

.est-total {
  color: #9b2226;
  font-weight: bold;
}
