* {
  font-family: open-sans, sans-serif;
}

/* BODY ************************************************* */
.login-section {
  border: 2px solid purple; /* refactor/delete later */
  text-align: center;
}

main {
  background-color: #e9d8a6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 10px;
  text-align: center;
}

main section {
  background-color: white;
  border-radius: 10px;
}

h2 {
  color: #005f73;
}

.traveler-info-section {
  font-size: 18px;
  grid-column: span 3;
}

.large {
  font-size: 30px;
}

.total-container {
  margin-bottom: 0px;
}

.total-explanation {
  margin-top: 0px;
  padding: 0px;
}

.astericks {
  font-size: 25px;
  color: #9b2226;
}

.astericks-message {
  font-size: 14px;
}

.trips {
  display: flex row;
  max-height: 300px;
}

.trips div {
  max-height: 75%;
  overflow: scroll;
}

.trip-request-section {
  display: flex row;
  grid-column: span 3;
}

/* TRIP CARDS ****************************************** */

.trip-card img {
  border-radius: 10px;
  width: 85%;
  height: 85%;
  object-fit: cover;
  overflow: hidden;
}

/* FORM ************************************************ */

/* :invalid {
  border: 2px solid orange;
}

:valid {
  border: 2px solid green;
} */

.error-message {
  display: block;
}

/* .error {
  border: 2px solid pink;
}

.success {
  border: 2px solid green;
} */

/* TEXT ************************************************ */
/* span {
  color: blue;
} */

/* GENERAL ********************************************* */
.hidden {
  display: none;
}
